version: "3.7"

services:
  flask:
    build: ./flask
    container_name: flask
    restart: always
    environment:
      - APP_NAME=MyFlaskApp
      - REDIS_HOST=redis_server
    expose:
      - 8080

  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"

  redis_server:
    container_name: redis_server
    image: redis
    command: redis-server --appendonly yes
    volumes:
        - redis_data:/data

  worker:
    build:
      context: "./flask"
    environment:
      - REDIS_HOST=redis_server
    command: python3 -u worker.py
    depends_on:
      - redis_server
    restart: always
    volumes:
      - "${HOST_RECORDINGS}:/app/files/recordings"
      - "${HOST_POSITIVE_MACTHES}:/app/files/positive-matches"
      - "${HOST_MODELS}:/app/models"

  watcher:
    container_name: watcher
    build:
      context: "./flask"
    environment:
      - REDIS_HOST=redis_server
    command: python3 -u run_watcher.py
    depends_on:
      - redis_server
    restart: always
    volumes:
      - "${HOST_RECORDINGS}:/app/files/recordings"
      - "${HOST_POSITIVE_MACTHES}:/app/files/positive-matches"
      - "${HOST_MODELS}:/app/models"

volumes:
  redis_data: